 <div class="home-page">

  <!-- Splash banner that only shows when not logged in -->
  <div class="banner">
    <div class="container">
      <h1 class="logo-font" ng-bind="::$ctrl.appName | lowercase"></h1>
      <p>A place to find reusable code</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">


      <!-- Main view - contains tabs & article list -->
      <div class="col-md-9">
        <!-- Tabs for toggling between feed, article lists -->
        <div class="row">
          <div class="col-lg-3">
            <div class="feed-toggle">
              <ul class="nav nav-pills outline-active">

                <li class="nav-item">
                  <a href="" class="nav-link"
                    ng-class="{ active: $ctrl.listConfig.type === 'all' && !$ctrl.listConfig.filters }"
                    ng-click="$ctrl.allRepositories()">
                    All repositories


                  </a>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-lg-8">

            <div class="row">
              <div class="col-lg-12">
                <span class=" text-danger" ng-show="$ctrl.empty">Select a search parameter</span>
              </div>
              <div class="col-lg-6">
                <fieldset class="form-group">
                  <input class="form-control "
                    ng-model="$ctrl.home.description"
                    type="text"

                    placeholder="Search..." />
                </fieldset>
              </div>
              <div class="col-lg-4">
                <!-- <fieldset class="form-group"> -->
                  <select class="form-control "
                    placeholder="Search..."
                    ng-model="$ctrl.home.owner_first_name">
                    <option value="">Select Name</option>
                  <option  ng-repeat="user in $ctrl.users" value="{{user.first_name}}">{{user.first_name}} {{user.last_name}}</option>
                </select>
                <!-- </fieldset> -->
              </div>
              <div class="col-lg-2">
                <button class="btn btn-success"  ng-click="$ctrl.searchDescription($ctrl.home,0)">Search</button>
              </div>
            </div>



          </div>
        </div>



        <!-- List the current articles -->

        <article-list limit="10" list-config="$ctrl.listConfig"></article-list>

      </div>

      <!-- Sidebar where popular tags are listed -->
      <div class="col-md-3">
        <div class="sidebar">

          <p>Popular Topics</p>

          <div class="tag-list" ng-show="$ctrl.tags">
            <a href="" class="tag-default tag-pill"
              ng-click="$ctrl.changeTag(tagName.tag)"
              ng-repeat="tagName in $ctrl.tags"
              ng-bind="tagName.tag">
            </a>
          </div>

          <div ng-show="!$ctrl.tagsLoaded">
            Loading tags...
          </div>

          <div class="post-preview"
            ng-show="$ctrl.tagsLoaded && !$ctrl.tags.length">
            No tags are here... yet.
          </div>

        </div>
        <div class="sidebar" style="margin-top:50px;">

          <p>Popular Languages</p>

          <div class="tag-list" ng-show="$ctrl.tags">
            <a href="" class="tag-default tag-pill"
              ng-click="$ctrl.changeLanguage(tagName.language_name)"
              ng-repeat="tagName in $ctrl.langs"
              ng-bind="tagName.language_name">
            </a>
          </div>

          <div ng-show="!$ctrl.langsLoaded">
            Loading tags...
          </div>

          <div class="post-preview"
            ng-show="$ctrl.langsLoaded && !$ctrl.langs.length">
            No tags are here... yet.
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
