<div class="article-preview">
  <article-meta article="$ctrl.article">
  </article-meta>

  <a ui-sref="app.article({ slug: $ctrl.article.description })" class="preview-link">
    <!-- <h1 ng-bind="$ctrl.article.title"></h1> -->
    <h1 ng-bind="$ctrl.article.description"></h1>

    <!-- <p ng-bind="$ctrl.article.description"></p> -->
    <span>Read more...</span>
    <ul class="tag-list">
     Tags: <li class="tag-default tag-pill tag-outline"
        ng-repeat="tag in $ctrl.article.tags">
        {{tag.tag}}
      </li>
      Languages: <li class="tag-default tag-pill tag-outline"
      ng-repeat="tag in $ctrl.article.languages">
      {{tag.language_name}}
    </li>
    </ul>
    
    
   
  </a>
</div>
