<nav>
  <ul class="pagination">

    <li class="page-item"
      ng-class="{active: pageNumber === $ctrl.currentPage }"
   
      ng-click="$ctrl.changePage(pageNumber)">

      <a class="page-link" href="">{{ pageNumber }}</a>

    </li>
    <!-- ng-repeat="pageNumber in $ctrl.pageRange($ctrl.totalPages)" -->
  </ul>
</nav>
