<div class="article-page">

  <!-- Banner for git title, action buttons -->
  <div class="banner">
    <div class="container">

      <h1 ng-bind="$ctrl.article.gits[0].description"></h1>

    </div>
  </div>



  <!-- Main view -->
  <div class="container page">

    <!-- Article's HTML & tags rendered here -->
    <div class="row article-content">
      <div class="col-xs-12">

        <!-- <div ng-bind-html="::"></div> -->
  
        <div style="margin-top:30px;"><p>Owner Information</p></div>
       <p>Name: {{$ctrl.article.gits[0].owner.first_name}} {{$ctrl.article.gits[0].owner.last_name}}  </p>
       <p>Email:  {{$ctrl.article.gits[0].owner.email}}</p>
      <p>GIT URL: <a href="{{$ctrl.article.gits[0].git_url}}">{{$ctrl.article.gits[0].git_url}}</a></p> 
            

        <ul class="tag-list " ng-show="$ctrl.article.gits[0].tags.length>0" style="margin-top:50px;">Tags:
          <li class="tag-default tag-pill tag-outline"
            ng-repeat="tag in $ctrl.article.gits[0].tags">
            {{ tag.tag }}
          </li>
        </ul>
        <ul class="tag-list" ng-show="$ctrl.article.gits[0].languages.length>0"  style="margin-top:50px;">Languages:
          <li class="tag-default tag-pill tag-outline"
            ng-repeat="tag in $ctrl.article.gits[0].languages">
            {{ tag.language_name }}
          </li>
        </ul>

      </div>
    </div>

    <hr />
  

  </div>
<div ng-if="$ctrl.showReadMe" style="text-align:center;"><h3 class="text">ReadMe</h3></div>
<div style="text-align:center;">
  <div  ng-bind-html=" $ctrl.readmedata"></div>
</div>

</div>
