<footer>
  <div class="container">
    <a class="logo-font" ui-sref="app.home" ng-bind="::$ctrl.appName | lowercase"></a>
    <span class="attribution">
      &copy; {{::$ctrl.date | date:'yyyy'}}.
      A code library for Automation Logic by Fantom
    </span>
  </div>
</footer>
