<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">

        <list-errors errors="$ctrl.errors"></list-errors>
<p class="text-danger">Fields having * are mandatory</p>
        <form>
          <fieldset ng-disabled="$c>trl.isSubmitting">

            <fieldset class="form-group">
              <input class="form-control "
                ng-model="$ctrl.article.owner_first_name"
                type="text"
                placeholder="Your Firstname*" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control "
                ng-model="$ctrl.article.owner_last_name"
                type="text"
                placeholder="Your Lastname*" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                ng-model="$ctrl.article.owner_email"
                type="text"
                placeholder="Your Email*" />
            </fieldset>
            <!-- <fieldset class="form-group">
              <input class="form-control form-control-lg"
                ng-model="$ctrl.article.title"
                type="text"
                placeholder="Repository Title" />
            </fieldset> -->


            <fieldset class="form-group">
              <input class="form-control"
                ng-model="$ctrl.article.description"
                type="text"
                placeholder="Repository Description*" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control"
                ng-model="$ctrl.article.git_url"
                type="text"
                placeholder="Repository URL*" />
            </fieldset>
<!--
            <fieldset class="form-group">
              <textarea class="form-control"
                rows="8"
                ng-model="$ctrl.article.body"
                placeholder="Write here (in markdown)">
              </textarea>
            </fieldset> -->


            <fieldset class="form-group">
              <input class="form-control"
                type="text"
                placeholder="Enter topics related to the Project*"
                ng-model="$ctrl.tagField"
                ng-keyup="$event.keyCode == 13 && $ctrl.addTag()" />

              <div class="tag-list">
                <span ng-repeat="tag in $ctrl.article.tags"
                  class="tag-default tag-pill">
                  <i class="ion-close-round" ng-click="$ctrl.removeTag(tag)"></i>
                  {{ tag }}
                </span>
              </div>
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control"
                type="text"
                placeholder="Enter Languages Used*"
                ng-model="$ctrl.langField"
                ng-keyup="$event.keyCode == 13 && $ctrl.addLang()" />

              <div class="tag-list">
                <span ng-repeat="lang in $ctrl.article.languages"
                  class="tag-default tag-pill">
                  <i class="ion-close-round" ng-click="$ctrl.removeLang(lang)"></i>
                  {{ lang }}
                </span>
              </div>
            </fieldset>
<p class="text-danger" ng-if="$ctrl.invalid">Please fill all the required details</p>
            <button class="btn btn-lg pull-xs-right btn-primary" type="button" ng-click="$ctrl.submit()">
              Publish Repository
            </button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>
